<!DOCTYPE html>
<html>
	<head>
		<link href="/favicon.ico" rel="icon" type="image/x-icon">
		<style type="text/css">
		{% include "reset.css" %}
		{% include "styles.css" %}
		</style>
		<script>
		{% include "main.js" %}
		</script>
	</head>
	<body>
		{% include "svg/sprite.svg" %}
		<header id="header-content">
			<div id="header-grid">
				<a href="/" id="header-logo"><svg><use xlink:href="#logo-caranddriver" /></svg></a>
				<nav id="header-nav">
					<!-- TODO: Internalize this logo or capture locally. -->
					<ul id="header-menu"><li>
							<a href="/newcars">New Cars</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-4">
									<a href="/acura">Acura</a>
									<a href="/fiat">Fiat</a>
									<a href="/lexus">Lexus</a>
									<a href="/polestar">Polestar</a>
									<a href="/alfa-romeo">Alfa Romeo</a>
									<a href="/ford">Ford</a>
									<a href="/lincoln">Lincoln</a>
									<a href="/porsche">Porsche</a>
									<a href="/aston-martin">Aston Martin</a>
									<a href="/gmc">GMC</a>
									<a href="/lotus">Lotus</a>
									<a href="/ram">Ram</a>
									<a href="/audi">Audi</a>
									<a href="/genesis">Genesis</a>
									<a href="/maserati">Maserati</a>
									<a href="/rolls-royce">Rolls-Royce</a>
									<a href="/bmw">BMW</a>
									<a href="/honda">Honda</a>
									<a href="/mazda">Mazda</a>
									<a href="/scion">Scion</a>
									<a href="/bentley">Bentley</a>
									<a href="/hyundai">Hyundai</a>
									<a href="/mclaren">McLaren</a>
									<a href="/smart">Smart</a>
									<a href="/bugatti">Bugatti</a>
									<a href="/infiniti">Infiniti</a>
									<a href="/mercedes-amg">Mercedes-AMG</a>
									<a href="/spyker">Spyker</a>
									<a href="/buick">Buick</a>
									<a href="/jaguar">Jaguar</a>
									<a href="/mercedes-benz">Mercedes-Benz</a>
									<a href="/subaru">Subaru</a>
									<a href="/cadillac">Cadillac</a>
									<a href="/jeep">Jeep</a>
									<a href="/mercedes-maybach">Mercedes-Maybach</a>
									<a href="/tesla">Tesla</a>
									<a href="/chevrolet">Chevrolet</a>
									<a href="/kia">Kia</a>
									<a href="/mini">Mini</a>
									<a href="/toyota">Toyota</a>
									<a href="/chrysler">Chrysler</a>
									<a href="/koenigsegg">Koenigsegg</a>
									<a href="/mitsubishi">Mitsubishi</a>
									<a href="/volkswagen">Volkswagen</a>
									<a href="/dodge">Dodge</a>
									<a href="/lamborghini">Lamborghini</a>
									<a href="/nissan">Nissan</a>
									<a href="/volvo">Volvo</a>
									<a href="/ferrari">Ferrari</a>
									<a href="/land-rover">Land Rover</a>
									<a href="/pagani">Pagani</a>
									<span>&nbsp;</span>
									<a href="/list-reviews" class="menu-footer"><em>View All Reviews</em></a>
								</div>
							</div>
						</li><li>
							<a href="/reviews">Reviews</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/list-reviews-in-depth">In-Depth Reviews</a></td></tr>
									<a href="/list-reviews-first-drives">First Drives</a></td></tr>
									<a href="/list-reviews-instrumented-tests">Instrumented Tests</a></td></tr>
									<a href="/list-reviews-comparison-tests">Comparison Tests</a></td></tr>
									<a href="/list-reviews-long-term-tests">Long-Term Tests</a></td></tr>
									<a href="/list-reviews-archives">Archived Reviews</a></td></tr>
									<a href="/list-reviews">View All Reviews</a></td></tr>
								</div>
							</div>
						</li><li>
							<a href="https://blog.caranddriver.com">News</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/auto-shows/2018-new-york-auto-show">New York Auto Show</a>
									<a href="https://blog.caranddriver.com">Blog</a>
									<a href="/auto-shows">Auto Shows</a>
									<a href="https://blog.caranddriver.com">View All News</a>
								</div>
							</div>
						</li><li>
							<a href="/list-features">Features</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/compare">Compare</a>
									<a href="/features/2018-10best-trucks-and-suvs-our-top-picks-in-every-segment-feature">10Best Trucks/SUVs</a>
									<a href="/features/2018-10best-cars-the-best-cars-for-sale-in-america-today-feature">2018 10Best Cars</a>
									<a href="/comparisons/the-battle-of-the-off-road-beaters-ford-vs-geo-jeep-and-land-rover-feature">Battle of the Beaters</a>
									<a href="/features/lightning-lap-2017-19-hot-performance-cars-attack-vir-feature">Lightning Lap 2017</a>
									<a href="/features/2018-editors-choice-for-best-cars-trucks-crossovers-and-suvs">2018 Editors' Choice</a>
									<a href="/features/new-cars-for-2018-model-change-info-full-tests-and-more-feature">New Cars for 2018</a>
									<a href="/features/zero-to-sixty-car-and-drivers-60th-anniversary-feature">60th Anniversary</a>
									<a href="/list-flipbooks">Flipbooks</a>
									<a href="/list-photo-galleries">Galleries</a>
									<a href="/list-features">View All Features</a>
								</div>
							</div>
						</li><li>
							<a href="/features/2018-editors-choice-for-best-cars-trucks-crossovers-and-suvs">Buyer's Guide</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/list-features-shopping-advice">Shopping Advice</a>
									<a href="/features/2018-editors-choice-for-best-cars-trucks-crossovers-and-suvs">2018 Editors' Choice</a>
									<a href="/features/2017-editors-choice-for-best-cars-trucks-crossovers-and-suvs">2017 Editors' Choice</a>
									<a href="/features/what-you-need-to-know-about-certified-pre-owned-cpo-car-programs-feature">CPO Buyer's Guide</a>
									<a href="/car-comparison-tool">Compare Vehicles</a>
									<a href="/get-your-car-value?BID=GlobalBuyersGuide">What's My Trade Worth?</a>
								</div>
							</div>
						</li><li class="highlighted">
							<a href="/cars-for-sale">Shop For Cars</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/vehicles/New">New Cars for Sale</a>
									<a href="/vehicles/Used">Used Cars for Sale</a>
									<a href="/vehicles/CPO">Certified Cars for Sale</a>
									<a href="https://quotes.caranddriver.com">Get a Free Quote</a>
									<a href="https://carbuying.caranddriver.com/main.html?referrer_id=ZCAR000023534">Build and Price</a>
								</div>
							</div>
						</li><li>
							<a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver/cdb_top_nav_subscribe">Connect</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver/cdb_top_nav_subscribe">Magazine</a>
									<a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver/cdb_digital_nav">Digital Edition</a>
									<a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver/cdb_gift_nav_link">Give a Gift</a>
									<a href="https://www.caranddriver.com/reviews/sign-up-for-our-newsletter-today-subscriptions">Newsletter</a>
								</div>
							</div>
						</li></ul>
					<div id="header-icons">
						<form id="search-form" action="/search"><a id="search-close" href="#">X</a><input type="text" id="search-box" placeholder="What are you looking for?" /></form>
						<a href="#search-form">Search</a>
					</div>
				</nav>
			</div>
		</header>
		<div id="splash-content">
			{% for index, article in enumerate(splash_articles) %}
			<article id="splash-article-{{ index + 1 }}"{% if index == 0 %} class="show"{% end %}>
				<a class="splash-article-image" href="{{ article["article_href"] }}" style="background-image:url(https://cnd.imgix.net{{ article["image_url"] }})"></a>
				<div class="splash-article-content">
					<nav>
						<p><a href="{{ article["article_href"] }}">{{ article["section"] }}</a><span> &bullet; {{ article["date"] }}</span></p>
						<div class="pager">
							<a href="#splash-article-{{ 1 + ((index + len(splash_articles) - 1) % len(splash_articles)) }}" onClick="return changeSplashPage(this);">&lsaquo;</a>
							<span><em>{{ index + 1 }}</em> of <em>{{ len(splash_articles) }}</em></span>
							<a href="#splash-article-{{ 1 + ((index + 1) % len(splash_articles)) }}" onClick="return changeSplashPage(this);">&rsaquo;</a>
						</div>
					</nav>
					<div class="summary">
						<h1><a class="inverted" href="{{ article["article_href"] }}">{{ article["title"] }}</a></h1>
						<h2>{{ article["summary" ]}}</h2>
						<h3 class="byline"><span>By </span><a href="{{ article["author_href"] }}">{{ article["author"] }}</a></h3>
					</div>
				</div>
			</article>
			{% end %}
		</div>
		<div id="main-content">
			<div id="main-grid">
				<aside id="main-sidebar">
					<section id="recent-news">
						<h1>Recent News</h1>
						{% for news_index, news_article in enumerate(news_articles) %}
						<article>
							<h2><a href="{{ news_article["article_href"] }}" class="inverted">{{ news_article["title"] }}</a></h2>
							<div class="metadata">
								<svg class="icon-tiny"><use xlink:href="#icon-clock" /></svg><span class="posted-ago">{{ news_article["posted_at"] }}</span><a href="{{ news_article["article_href"] }}" class="comment-count"><svg class="icon-tiny"><use xlink:href="#icon-comments" /></svg><span>{{ news_article["comment_count"] }}</span></a>
							</div>
						</article>
						{% end %}
					</section>
				</aside>
				<div id="main-articles">
					<section id="research-ui">
						<h1>Research and Shop</h1>

					</section>
					<section id="featured-reviews">
						<h1>Featured</h1>

					</section>
					<section id="annual-reviews">
						<h1>2018-2019 Car Reviews</h1>

					</section>
					<section id="recent-galleries">
						<h1>Recent Galleries</h1>

					</section>
					<section id="comparison-tests">
						<h1>Comparison Tests</h1>
					</section>
					<section id="most-researched">
						<h1>Most Researched Manufacturers</h1>

					</section>
				</div>
			</div>
		</div>
		<div id="social-content">
			<div id="social-grid">
				<a class="icon-facebook" href="https://www.facebook.com/caranddriver"><svg class="icon-small"><use xlink:href="#icon-facebook" /></svg><span>Facebook</span></a>
				<a class="icon-twitter" href="https://twitter.com/caranddriver"><svg class="icon-small"><use xlink:href="#icon-twitter" /></svg><span>Twitter</span></a>
				<a class="icon-instagram" href="https://instagram.com/caranddriver"><svg class="icon-small"><use xlink:href="#icon-instagram" /></svg><span>Instagram</span></a>
				<a class="icon-youtube" href="https://www.youtube.com/user/caranddriver"><svg class="icon-small"><use xlink:href="#icon-youtube" /><span>YouTube</span></a>
			</div>
		</div>
		<footer id="footer-content">
			<div id="footer-grid">
				<div id="review-links" class="link-column">
					<h1>Reviews</h1>
					<ul>
						<li><a href="/list-reviews-first-drives">First Drives</a></li>
						<li><a href="">Instrumented Tests</a></li>
						<li><a href="">Comparison Tests</a></li>
						<li><a href="">Long-Term Road Tests</a></li>
						<li><a href="">From the Review Vault</a></li>
					</ul>
				</div>
				<div id="news-links" class="link-column">
					<h1>News</h1>
					<ul>
						<li><a href="/list-reviews-first-drives">First Drives</a></li>
						<li><a href="">Instrumented Tests</a></li>
						<li><a href="">Comparison Tests</a></li>
						<li><a href="">Long-Term Road Tests</a></li>
						<li><a href="">From the Review Vault</a></li>
					</ul>
				</div>
				<div id="features-links" class="link-column">
					<h1>Features</h1>
					<ul>
						<li><a href="/list-reviews-first-drives">First Drives</a></li>
						<li><a href="">Instrumented Tests</a></li>
						<li><a href="">Comparison Tests</a></li>
						<li><a href="">Long-Term Road Tests</a></li>
						<li><a href="">From the Review Vault</a></li>
					</ul>
				</div>
				<div id="buyers-guide-links" class="link-column">
					<h1>Buyer's Guide</h1>
					<ul>
						<li><a href="/list-reviews-first-drives">First Drives</a></li>
						<li><a href="">Instrumented Tests</a></li>
						<li><a href="">Comparison Tests</a></li>
						<li><a href="">Long-Term Road Tests</a></li>
						<li><a href="">From the Review Vault</a></li>
					</ul>
				</div>
				<div id="about-links" class="link-column">
					<h1>About Car and Driver</h1>
					<ul>
						<li><a href="/list-reviews-first-drives">First Drives</a></li>
						<li><a href="">Instrumented Tests</a></li>
						<li><a href="">Comparison Tests</a></li>
						<li><a href="">Long-Term Road Tests</a></li>
						<li><a href="">From the Review Vault</a></li>
					</ul>
				</div>
				<div id="follow-us-links" class="link-column">
					<h1>Follow Us</h1>
					<ul>
						<li><a href="/list-reviews-first-drives">First Drives</a></li>
						<li><a href="">Instrumented Tests</a></li>
						<li><a href="">Comparison Tests</a></li>
						<li><a href="">Long-Term Road Tests</a></li>
						<li><a href="">From the Review Vault</a></li>
					</ul>
				</div>
				<div id="copyright">
					<p>&copy; 2018 Hearst Communications, Inc. All Rights Reserved., <a href="https://www.hearst.com/newsroom/us-magazines-privacy-notice">Privacy Notice</a> | <a href="https://www.hearst.com/newsroom/us-magazines-privacy-notice#_ADDITIONAL_INFO">Your California Privacy Rights</a> | <a href="https://www.hearst.com/newsroom/us-magazines-privacy-notice#_INTEREST_BASED">Interest-Based Ads</a> | <a href="https://www.hearst.com/newsroom/us-magazines-terms-of-use">Terms of Use</a></p>
				</div>
			</div>
		</footer>
	</body>
</html>
