<!DOCTYPE html>
<html>
	<head>
		<link href="/favicon.ico" rel="icon" type="image/x-icon">
		<style type="text/css">
		{% include "../reset.css" %}
		{% include "../styles.css" %}
		</style>
		<script>
		{% include "../main.js" %}
		</script>
		{% for key in sorted(models.keys()) %}
		<template id="models-template-{{ key }}">
			{% for model in sorted(models[key]) %}<option value="{{ model }}">{{ model }}</option>
			{% end %}
		</template>
		{% end %}
	</head>
	<body>
		{% include "../svg/sprite.svg" %}
		<header id="header-content">
			<div id="header-grid">
				<a href="/" id="header-logo"><svg><use xlink:href="#logo-caranddriver" /></svg></a>
				<nav id="header-nav">
					<ul id="header-menu" class="menu"><li>
							<a href="/newcars">New Cars</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-4">
									<a href="/acura">Acura</a>
									<a href="/fiat">Fiat</a>
									<a href="/lexus">Lexus</a>
									<a href="/polestar">Polestar</a>
									<a href="/alfa-romeo">Alfa Romeo</a>
									<a href="/ford">Ford</a>
									<a href="/lincoln">Lincoln</a>
									<a href="/porsche">Porsche</a>
									<a href="/aston-martin">Aston Martin</a>
									<a href="/gmc">GMC</a>
									<a href="/lotus">Lotus</a>
									<a href="/ram">Ram</a>
									<a href="/audi">Audi</a>
									<a href="/genesis">Genesis</a>
									<a href="/maserati">Maserati</a>
									<a href="/rolls-royce">Rolls-Royce</a>
									<a href="/bmw">BMW</a>
									<a href="/honda">Honda</a>
									<a href="/mazda">Mazda</a>
									<a href="/scion">Scion</a>
									<a href="/bentley">Bentley</a>
									<a href="/hyundai">Hyundai</a>
									<a href="/mclaren">McLaren</a>
									<a href="/smart">Smart</a>
									<a href="/bugatti">Bugatti</a>
									<a href="/infiniti">Infiniti</a>
									<a href="/mercedes-amg">Mercedes-AMG</a>
									<a href="/spyker">Spyker</a>
									<a href="/buick">Buick</a>
									<a href="/jaguar">Jaguar</a>
									<a href="/mercedes-benz">Mercedes-Benz</a>
									<a href="/subaru">Subaru</a>
									<a href="/cadillac">Cadillac</a>
									<a href="/jeep">Jeep</a>
									<a href="/mercedes-maybach">Mercedes-Maybach</a>
									<a href="/tesla">Tesla</a>
									<a href="/chevrolet">Chevrolet</a>
									<a href="/kia">Kia</a>
									<a href="/mini">Mini</a>
									<a href="/toyota">Toyota</a>
									<a href="/chrysler">Chrysler</a>
									<a href="/koenigsegg">Koenigsegg</a>
									<a href="/mitsubishi">Mitsubishi</a>
									<a href="/volkswagen">Volkswagen</a>
									<a href="/dodge">Dodge</a>
									<a href="/lamborghini">Lamborghini</a>
									<a href="/nissan">Nissan</a>
									<a href="/volvo">Volvo</a>
									<a href="/ferrari">Ferrari</a>
									<a href="/land-rover">Land Rover</a>
									<a href="/pagani">Pagani</a>
									<span>&nbsp;</span>
									<a href="/list-reviews" class="menu-footer"><em>View All Reviews</em></a>
								</div>
							</div>
						</li><li>
							<a href="/reviews">Reviews</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/list-reviews-in-depth">In-Depth Reviews</a></td></tr>
									<a href="/list-reviews-first-drives">First Drives</a></td></tr>
									<a href="/list-reviews-instrumented-tests">Instrumented Tests</a></td></tr>
									<a href="/list-reviews-comparison-tests">Comparison Tests</a></td></tr>
									<a href="/list-reviews-long-term-tests">Long-Term Tests</a></td></tr>
									<a href="/list-reviews-archives">Archived Reviews</a></td></tr>
									<a href="/list-reviews">View All Reviews</a></td></tr>
								</div>
							</div>
						</li><li>
							<a href="https://blog.caranddriver.com">News</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/auto-shows/2018-new-york-auto-show">New York Auto Show</a>
									<a href="https://blog.caranddriver.com">Blog</a>
									<a href="/auto-shows">Auto Shows</a>
									<a href="https://blog.caranddriver.com">View All News</a>
								</div>
							</div>
						</li><li>
							<a href="/list-features">Features</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/compare">Compare</a>
									<a href="/features/2018-10best-trucks-and-suvs-our-top-picks-in-every-segment-feature">10Best Trucks/SUVs</a>
									<a href="/features/2018-10best-cars-the-best-cars-for-sale-in-america-today-feature">2018 10Best Cars</a>
									<a href="/comparisons/the-battle-of-the-off-road-beaters-ford-vs-geo-jeep-and-land-rover-feature">Battle of the Beaters</a>
									<a href="/features/lightning-lap-2017-19-hot-performance-cars-attack-vir-feature">Lightning Lap 2017</a>
									<a href="/features/2018-editors-choice-for-best-cars-trucks-crossovers-and-suvs">2018 Editors' Choice</a>
									<a href="/features/new-cars-for-2018-model-change-info-full-tests-and-more-feature">New Cars for 2018</a>
									<a href="/features/zero-to-sixty-car-and-drivers-60th-anniversary-feature">60th Anniversary</a>
									<a href="/list-flipbooks">Flipbooks</a>
									<a href="/list-photo-galleries">Galleries</a>
									<a href="/list-features">View All Features</a>
								</div>
							</div>
						</li><li>
							<a href="/features/2018-editors-choice-for-best-cars-trucks-crossovers-and-suvs">Buyer's Guide</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/list-features-shopping-advice">Shopping Advice</a>
									<a href="/features/2018-editors-choice-for-best-cars-trucks-crossovers-and-suvs">2018 Editors' Choice</a>
									<a href="/features/2017-editors-choice-for-best-cars-trucks-crossovers-and-suvs">2017 Editors' Choice</a>
									<a href="/features/what-you-need-to-know-about-certified-pre-owned-cpo-car-programs-feature">CPO Buyer's Guide</a>
									<a href="/car-comparison-tool">Compare Vehicles</a>
									<a href="/get-your-car-value?BID=GlobalBuyersGuide">What's My Trade Worth?</a>
								</div>
							</div>
						</li><li class="highlighted">
							<a href="/cars-for-sale">Shop For Cars</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="/vehicles/New">New Cars for Sale</a>
									<a href="/vehicles/Used">Used Cars for Sale</a>
									<a href="/vehicles/CPO">Certified Cars for Sale</a>
									<a href="https://quotes.caranddriver.com">Get a Free Quote</a>
									<a href="https://carbuying.caranddriver.com/main.html?referrer_id=ZCAR000023534">Build and Price</a>
								</div>
							</div>
						</li><li>
							<a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver/cdb_top_nav_subscribe">Connect</a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver/cdb_top_nav_subscribe">Magazine</a>
									<a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver/cdb_digital_nav">Digital Edition</a>
									<a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver/cdb_gift_nav_link">Give a Gift</a>
									<a href="https://www.caranddriver.com/reviews/sign-up-for-our-newsletter-today-subscriptions">Newsletter</a>
								</div>
							</div>
						</li></ul>
				</nav>
				<div id="show-search">
					<ul id="search-buttons" class="menu"><li>
							<a href="https://backfires.caranddriver.com"><svg style="height: 1.875rem; width: 1.875rem;"><use xlink:href="#icon-backfires"></a>
							<div class="sub-menu-hitbox">
								<div class="sub-menu sub-menu-1">
									<a href="https://backfires.caranddriver.com">Sign In</a>
									<a href="https://backfires.caranddriver.com">Register</a>
									<a href="https://backfires.caranddriver.com">Backfires</a>
								</div>
							</div>
						</li><li>
							<a href="#show-search"><svg style="height: 1.875rem; width: 1.875rem;"><use xlink:href="#icon-search" /></svg></a>
						</li></ul>
					<form id="search-form" action="/search" onSubmit="return handleSearchForm(this);"><input type="text" id="search-box" placeholder="What are you looking for?" /><a id="search-close" href="#"><svg style="height: 1.875rem; width: 1.875rem;"><use xlink:href="#icon-search" /></svg></a></form>
				</div>
			</div>
		</header>
		<div id="splash-content">
			{% for index, article in enumerate(splash_articles) %}
			<article id="splash-article-{{ index + 1 }}"{% if index == 0 %} class="show"{% end %}>
				<a class="splash-article-image" href="{{ article["article_href"] }}" style="background-image:url(https://cnd.imgix.net{{ article["image_url"] }}?fm=pjpg&auto=format,compress)"></a>
				<div class="splash-article-content">
					<nav>
						<p><a href="{{ article["article_href"] }}">{{ article["section"] }}</a><span> &bullet; {{ article["date"] }}</span></p>
						<div class="pager">
							<a href="#splash-article-{{ 1 + ((index + len(splash_articles) - 1) % len(splash_articles)) }}" onClick="return changeSplashPage(this);">&lsaquo;</a>
							<span><em>{{ index + 1 }}</em> of <em>{{ len(splash_articles) }}</em></span>
							<a href="#splash-article-{{ 1 + ((index + 1) % len(splash_articles)) }}" onClick="return changeSplashPage(this);">&rsaquo;</a>
						</div>
					</nav>
					<div class="summary">
						<h1><a class="inverted" href="{{ article["article_href"] }}">{{ article["title"] }}</a></h1>
						<h2>{{ article["summary" ]}}</h2>
						<h3 class="byline"><span>By </span><a href="{{ article["author_href"] }}">{{ article["author"] }}</a></h3>
					</div>
				</div>
			</article>
			{% end %}
		</div>
		<div id="main-content">
			<div id="main-grid">
				<aside id="main-sidebar">
					<section id="recent-news">
						<h1>Recent News</h1>
						{% for news_index, news_article in enumerate(news_articles) %}
						<article>
							<h2><a href="{{ news_article["article_href"] }}" class="inverted">{{ news_article["title"] }}</a></h2>
							<div class="metadata">
								<svg class="icon-tiny"><use xlink:href="#icon-clock" /></svg><span class="posted-ago">{{ news_article["posted_at"] }}</span><a href="{{ news_article["article_href"] }}" class="comment-count"><svg class="icon-tiny"><use xlink:href="#icon-comments" /></svg><span>{{ news_article["comment_count"] }}</span></a>
							</div>
						</article>
						{% end %}
						<a class="button-inverted-half" href="https://blog.caranddriver.com">View All</a>
					</section>
				</aside>
				<div id="main-articles">
					<section id="research-ui">
						<h1>Research and Shop</h1>
						<div>
							<h2>By Make and Model</h2>
							<form id="research-form">
								<select id="body-style-make" onChange="return changeBodyStyleModel(this);">
									<option value="" disabled selected>Select a Make</option>
									{% for key in sorted(makes.keys()) %}<option value="{{ key }}">{{ makes[key] }}</option>
									{% end %}
								</select>
								<select id="body-style-model">
									<option value="" disabled selected>Select a Model (optional)</option>
								</select>
								<div>
									<a class="button-half" href="#">Research</a>
									<a class="button-inverted-half" href="#">Shop Cars</a>
								</div>
							</form>
						</div>
						<div>
							<h2>By Body Style</h2>
							<div id="body-style-menu">
								<a href="/best-sedans" class="inverted"><b style="background-position: 0 0;"></b><span>Sedans</span></a>
								<a href="/best-suvs-crossovers" class="inverted"><b style="background-position: 0 -44px;"></b><span>SUVs</span></a>
								<a href="/best-suvs-crossovers" class="inverted"><b style="background-position: 0 -88px;"></b><span>Crossovers</span></a>
								<a href="/best-hybrid-electric-cars" class="inverted"><b style="background-position: 0 -132px;"></b><span>Hybrid and Electric Cars</span></a>
								<a href="/best-sports-cars" class="inverted"><b style="background-position: 0 -176px;"></b><span>Sports Cars</span></a>
								<a href="/best-luxury-cars" class="inverted"><b style="background-position: 0 -220px;"></b><span>Luxury Cars</span></a>
								<a href="/best-pickup-trucks" class="inverted"><b style="background-position: 0 -264px;"></b><span>Pickup Trucks</span></a>
								<a href="/best-minivans-vans" class="inverted"><b style="background-position: 0 -306px;"></b><span>Vans and Minivans</span></a>
								<a href="/best-small-cars" class="inverted"><b style="background-position: 0 -350px;"></b><span>Small Cars</span></a>
								<a href="/best-hatchbacks" class="inverted"><b style="background-position: 0 -394px;"></b><span>Hatchbacks</span></a>
								<a href="/best-station-wagons" class="inverted"><b style="background-position: 0 -438px;"></b><span>Station Wagons</span></a>
								<a href="/best-coupes" class="inverted"><b style="background-position: 0 -482px;"></b><span>Coupes</span></a>
								<a href="/best-convertibles" class="inverted"><b style="background-position: 0 -526px;"></b><span>Convertibles</span></a>
								<a href="/vehicles/Used" class="inverted"><b style="background-position: 0 -570px;"></b><span>Used Cars</span></a>
								<a href="/features/a-guide-to-certified-pre-owned-cpo-programs-by-car-brand-feature" class="inverted"><b style="background-position: 0 -614px;"></b><span>Certified Pre-Owned</span></a>
							</div>
						</div>
					</section>
					<section id="featured-reviews">
						<h1>Featured</h1>
						{% for article in featured_articles %}{% include "article.tmpl" %}{% end %}
					</section>
					<section id="annual-reviews">
						<h1>2018-2019 Car Reviews</h1>
						{% for article in annual_articles %}{% include "article.tmpl" %}{% end %}
						<a class="button" href="/list-reviews">View More Reviews</a>
					</section>
					<section id="recent-galleries">
						<h1>Recent Galleries</h1>
						{% for article in gallery_articles %}{% include "article.tmpl" %}{% end %}
						<a class="button" href="/list-photo-galleries">View All Galleries</a>
					</section>
					<section id="comparison-tests">
						<h1>Comparison Tests</h1>
						{% for article in comparison_articles %}{% include "article.tmpl" %}{% end %}
						<a class="button" href="/list-reviews-comparison-tests">View All</a>
					</section>
					<section id="most-researched">
						<h1>Most Researched Manufacturers</h1>
						<div id="manufacturer-grid">
							<div class="manufacturer">
								<h2><a href="/honda">Honda</a></h2>
								<img src="https://cnd.imgix.net/images/honda.jpg?fm=pjpg&auto=format,compress&w=230" srcset="https://cnd.imgix.net/images/honda.jpg?fm=pjpg&auto=format,compress&w=230 1x, https://cnd.imgix.net/images/honda.jpg?fm=pjpg&auto=format,compress&w=230&dpr=2 2x" width="230" height="138" alt="Honda">
								<a href="/vehicles/New/Honda" class="button">Shop for Honda</a>
								<ul>
									<li><a class="inverted" href="/features/2018-10best-trucks-and-suvs-our-top-picks-in-every-segment-feature-honda-ridgeline-best-mid-size-pickup-truck-page-9">Honda Ridgeline: Best Mid-Size Pickup Truck</a></li>
									<li><a class="inverted" href="/features/2018-10best-trucks-and-suvs-our-top-picks-in-every-segment-feature">2018 10Best Trucks and SUVs: The Best Models in Every Segment</a></li>
									<li><a class="inverted" href="/reviews/2018-honda-accord-sport-15t-manual-review">2018 Honda Accord Sport 1.5T Manual</a></li>
									<li><a class="inverted" href="/reviews/2018-honda-odyssey-tested-with-nine-speed-automatic-review">2018 Honda Odyssey Nine-Speed Automatic</a></li>
									<li><a class="inverted" href="/honda/accord">The Latest on the Honda Accord</a></li>
									<li><a class="inverted" href="/honda/civic">Honda Civic Reviews, Pricing, and Photos</a></li>
									<li><a class="inverted" href="/honda/cr-v">Honda CR-V Pricing, Options, and Overview</a></li>
									<li><a class="inverted" href="/honda/pilot">Everything You Need to Know About the Honda Pilot</a></li>
								</ul>
							</div>
							<div class="manufacturer">
								<h2><a href="/mazda">Mazda</a></h2>
								<img src="https://cnd.imgix.net/images/mazda.jpg?fm=pjpg&auto=format,compress&w=230" srcset="https://cnd.imgix.net/images/mazda.jpg?fm=pjpg&auto=format,compress&w=230 1x, https://cnd.imgix.net/images/mazda.jpg?fm=pjpg&auto=format,compress&w=230&dpr=2 2x" width="230" height="138" alt="Mazda">
								<a href="/vehicles/New/Mazda" class="button">Shop for Mazda</a>
								<ul>
									<li><a class="inverted" href="/features/2018-10best-trucks-and-suvs-our-top-picks-in-every-segment-feature-mazda-cx-5-best-compact-suv-page-4">Mazda CX-5: Best Compact SUV</a></li>
									<li><a class="inverted" href="/features/2018-10best-trucks-and-suvs-our-top-picks-in-every-segment-feature-mazda-cx-9-best-mid-size-suv-page-6">Mazda CX-9: Best Mid-Size SUV</a></li>
									<li><a class="inverted" href="/mazda/cx-5">Mazda CX-5 Reviews, Pricing, and Photos</a></li>
									<li><a class="inverted" href="/mazda/cx-3">Mazda CX-5 Leasing, Options, and Overview</a></li>
									<li><a class="inverted" href="/mazda/mazda-3">The Latest on the Mazda 3</a></li>
									<li><a class="inverted" href="/mazda/mazda-6">Mazda 6 Pricing, Options, and Overview</a></li>
								</ul>
							</div>
							<div class="manufacturer">
								<h2><a href="/chevrolet">Chevrolet</a></h2>
								<img src="https://cnd.imgix.net/images/chevrolet.jpg?fm=pjpg&auto=format,compress&w=230" srcset="https://cnd.imgix.net/images/chevrolet.jpg?fm=pjpg&auto=format,compress&w=230 1x, https://cnd.imgix.net/images/chevrolet.jpg?fm=pjpg&auto=format,compress&w=230&dpr=2 2x" width="230" height="138" alt="Chevrolet">
								<a href="/vehicles/New/Chevrolet" class="button">Shop for Chevrolet</a>
								<ul>
									<li><a class="inverted" href="/reviews/2018-chevrolet-cruze-diesel-hatchback-manual-test-review">2018 Chevrolet Cruze Diesel Hatchback Manual</a></li>
									<li><a class="inverted" href="/reviews/2018-chevrolet-equinox-diesel-awd-test-review">2018 Chevrolet Equinox Diesel AWD</a></li>
									<li><a class="inverted" href="/features/2018-10best-cars-the-best-cars-for-sale-in-america-today-feature-chevrolet-camaro-v-6-ss-zl1-coupes-page-4">Chevrolet Camaro V-6 / SS / ZL1 Coupes</a></li>
									<li><a class="inverted" href="/chevrolet/silverado-1500">Chevrolet Silverado Reviews, Pricing, and Photos</a></li>
									<li><a class="inverted" href="/chevrolet/malibu">Chevrolet Malibu Leasing Options and Overview</a></li>
									<li><a class="inverted" href="/chevrolet/equinox">The Latest on the Chevrolet Equinox</a></li>
									<li><a class="inverted" href="/chevrolet/camaro">Everything You Need to Know About the Chevrolet Camaro</a></li>
								</ul>
							</div>
							<div class="manufacturer">
								<h2><a href="/ford">Ford</a></h2>
								<img src="https://cnd.imgix.net/images/ford.jpg?fm=pjpg&auto=format,compress&w=230" srcset="https://cnd.imgix.net/images/ford.jpg?fm=pjpg&auto=format,compress&w=230 1x, https://cnd.imgix.net/images/ford.jpg?fm=pjpg&auto=format,compress&w=230&dpr=2 2x" width="230" height="138" alt="Ford">
								<a href="/vehicles/New/Ford" class="button">Shop for Ford</a>
								<ul>
									<li><a class="inverted" href="/reviews/2018-ford-f-150-50l-v-8-4x4-supercrew-review">2018 Ford F-150 5.0L V-8 4x4 SuperCrew</a></li>
									<li><a class="inverted" href="/features/lightning-lap-115-we-lap-the-ford-gt-at-vir-feature">Lightning Lap 11.5: We Lap the Ford GT at VIR!</a></li>
									<li><a class="inverted" href="/ford/f-150">Ford F-150 Leasing Options and Overview</a></li>
									<li><a class="inverted" href="/ford/escape">The Latest on the Ford Escape</a></li>
									<li><a class="inverted" href="/ford/explorer">Ford Explorer Pricing, Options, and Overview</a></li>
									<li><a class="inverted" href="/ford/focus">Ford Focus Reviews, Pricing, and Photos</a></li>
								</ul>
							</div>
							<div class="manufacturer">
								<h2><a href="/jeep">Jeep</a></h2>
								<img src="https://cnd.imgix.net/images/jeep.jpg?fm=pjpg&auto=format,compress&w=230" srcset="https://cnd.imgix.net/images/jeep.jpg?fm=pjpg&auto=format,compress&w=230 1x, https://cnd.imgix.net/images/jeep.jpg?fm=pjpg&auto=format,compress&w=230&dpr=2 2x" width="230" height="138" alt="Jeep">
								<a href="/vehicles/New/Jeep" class="button">Shop for Jeep</a>
								<ul>
									<li><a class="inverted" href="/reviews/2018-jeep-renegade-review">2018 Jeep Renegade</a></li>
									<li><a class="inverted" href="/reviews/2017-jeep-renegade-in-depth-model-review">2017 Jeep Renegade</a></li>
									<li><a class="inverted" href="/features/a-history-of-jeeps-corporate-parents-they-all-die-feature">It's a Black-Widow Thing: Why Does Every Company that Owns Jeep Die?</a></li>
									<li><a class="inverted" href="/reviews/2018-jeep-grand-cherokee-trackhawk-full-test-review">2018 Jeep Grand Cherokee Trackhawk</a></li>
									<li><a class="inverted" href="/jeep/grand-cherokee">Jeep Grand Cherokee Reviews, Pricing, and Photos</a></li>
									<li><a class="inverted" href="/jeep/renegade">Everything You Need to Know About the Jeep Renegade</a></li>
									<li><a class="inverted" href="/jeep/cherokee">Jeep Cherokee Pricing, Options, and Overview</a></li>
									<li><a class="inverted" href="/jeep/wrangler">The Latest on the Jeep Wrangler</a></li>
								</ul>
							</div>
							<div class="manufacturer">
								<h2><a href="/toyota">Toyota</a></h2>
								<img src="https://cnd.imgix.net/images/toyota.jpg?fm=pjpg&auto=format,compress&w=230" srcset="https://cnd.imgix.net/images/toyota.jpg?fm=pjpg&auto=format,compress&w=230 1x, https://cnd.imgix.net/images/toyota.jpg?fm=pjpg&auto=format,compress&w=230&dpr=2 2x" width="230" height="138" alt="Toyota">
								<a href="/vehicles/New/Toyota" class="button">Shop for Toyota</a>
								<ul>
									<li><a class="inverted" href="/reviews/2017-toyota-highlander-in-depth-model-review-2017-toyota-highlander-engine-and-transmission-review-car-and-driver-page-2">Engine and Transmission</a></li>
									<li><a class="inverted" href="/reviews/2017-toyota-highlander-in-depth-model-review-2017-toyota-highlander-warranty-review-car-and-driver-page-10">Warranty</a></li>
									<li><a class="inverted" href="/toyota/camry">Toyota Camry Reviews, Pricing, and Photos</a></li>
									<li><a class="inverted" href="/toyota/corolla">Toyota Corolla Leasing Options and Overview</a></li>
									<li><a class="inverted" href="/toyota/prius">Everything You Need to Know About the Toyota Prius</a></li>
									<li><a class="inverted" href="/toyota/rav4">Toyota RAV4 Pricing, Options, and Overview</a></li>
								</ul>
							</div>
						</div>
					</section>
				</div>
				<div id="tradein-content">
					<img src="https://cnd.imgix.net/images/Vehicle-Mobile-IMG.png?fm=pjpg&auto=format,compress" height="115" width="300" alt="Cars for Trade-In">
					<div>
						<h1>What's Your Car Worth?</h1>
						<p>We'll help you get your car's trade-in value in under a minute.</p>
						<a class="button" href="/get-your-car-value?BID=GlobalFooter">Get Your Trade-in Value</a>
					</div>
				</div>
			</div>
		</div>
		<div id="social-content">
			<div id="social-grid">
				<a class="icon-facebook" href="https://www.facebook.com/caranddriver"><svg class="icon-small"><use xlink:href="#icon-facebook" /></svg><span>Facebook</span></a>
				<a class="icon-twitter" href="https://twitter.com/caranddriver"><svg class="icon-small"><use xlink:href="#icon-twitter" /></svg><span>Twitter</span></a>
				<a class="icon-instagram" href="https://instagram.com/caranddriver"><svg class="icon-small"><use xlink:href="#icon-instagram" /></svg><span>Instagram</span></a>
				<a class="icon-youtube" href="https://www.youtube.com/user/caranddriver"><svg class="icon-small"><use xlink:href="#icon-youtube" /><span>YouTube</span></a>
			</div>
		</div>
		<footer id="footer-content">
			<div id="footer-grid">
				<div id="review-links" class="link-column">
					<h1>Reviews</h1>
					<ul>
						<li><a href="/list-reviews-first-drives">First Drives</a></li>
						<li><a href="/list-reviews-instrumented-tests">Instrumented Tests</a></li>
						<li><a href="/list-reviews-comparison-tests">Comparison Tests</a></li>
						<li><a href="/list-reviews-long-term-tests">Long-Term Road Tests</a></li>
						<li><a href="/list-reviews-archives">From the Review Vault</a></li>
					</ul>
				</div>
				<div id="news-links" class="link-column">
					<h1>News</h1>
					<ul>
						<li><a href="/list-news-future-cars">Spy Photos</a></li>
						<li><a href="/list-news-auto-shows">Auto Shows</a></li>
						<li><a href="https://blog.caranddriver.com/">Blog</a></li>
					</ul>
				</div>
				<div id="features-links" class="link-column">
					<h1>Features</h1>
					<ul>
						<li><a href="/features/lightning-lap-2017-19-hot-performance-cars-attack-vir-feature">Lightning Lap</a></li>
						<li><a href="/features/2018-10best-cars-the-best-cars-for-sale-in-america-today-feature">10Best</a></li>
					</ul>
				</div>
				<div id="buyers-guide-links" class="link-column">
					<h1>Buyer's Guide</h1>
					<ul>
						<li><a href="/vehicles">View Cars for Sale</a></li>
						<li><a href="/features/2018-editors-choice-for-best-cars-trucks-crossovers-and-suvs">2018 Editors' Choice</a></li>
						<li><a href="/ford/f-150">Ford F-150</a></li>
						<li><a href="/jeep/wrangler">Jeep Wrangler</a></li>
						<li><a href="/ford/escape">Ford Escape</a></li>
						<li><a href="/honda/accord">Honda Accord</a></li>
						<li><a href="/jeep/grand-cherokee">Jeep Grand Cherokee</a></li>
					</ul>
				</div>
				<div id="about-links" class="link-column">
					<h1>About Car and Driver</h1>
					<ul>
						<li><a href="https://subscribe.hearstmags.com/subscribe/splits/caranddriver-lic/cdb_bottom_nav_subscribe">Subscribe</a></li>
						<li><a href="/user-sitemap">User Sitemap</a></li>
						<li><a href="/reviews/contact-us-about-us">Contact Us</a></li>
						<li><a href="http://service.caranddriver.com/">Subscriptions/Customer Service</a></li>
						<li><a href="mailto:feedback@caranddriver.com">Website Feedback</a></li>
					</ul>
				</div>
				<div id="follow-us-links" class="link-column">
					<h1>Follow Us</h1>
					<ul>
						<li><a href="https://backfires.caranddriver.com/">Backfires</a></li>
						<li><a href="https://www.facebook.com/caranddriver">Facebook</a></li>
						<li><a href="https://twitter.com/caranddriver">Twitter</a></li>
						<li><a href="https://www.youtube.com/user/CARandDRIVER">YouTube</a></li>
					</ul>
				</div>
				<div id="logo-hearst"><svg><use xlink:href="#logo-hearstautos" /></div>
				<div id="copyright">
					<p>&copy; 2018 Hearst Communications, Inc. All Rights Reserved., <a href="https://www.hearst.com/newsroom/us-magazines-privacy-notice">Privacy Notice</a> | <a href="https://www.hearst.com/newsroom/us-magazines-privacy-notice#_ADDITIONAL_INFO">Your California Privacy Rights</a> | <a href="https://www.hearst.com/newsroom/us-magazines-privacy-notice#_INTEREST_BASED">Interest-Based Ads</a> | <a href="https://www.hearst.com/newsroom/us-magazines-terms-of-use">Terms of Use</a></p>
				</div>
			</div>
		</footer>
	</body>
</html>
